h3{
    font-family: Calibri;
    margin-top: 15px;
}

span{
    font-family: Calibri;
    
}
label{
    font-family: Calibri;
}

:host
{
    border: 2px solid dimgray;
    display: block;
    padding: 20px;
}
