.logo {
    height: 50px;
    width: 100px;
    padding: 10px;
   
    
}
.topright {
    position: absolute;
    top: 12px;
    right: 8px;
    
  }
  .logo_checked {
    height: 50px;
    width: 60px;
    margin-left: 20px;
    padding: 10px;
    float: left;
    
}
h1{
    font-family: Calibri;
    
    color:#084B8A;
    margin-top:20px;
    
}
